body {
    background-color: #fec7d7;
    color: #0e172c;
    line-height: 1.5;
}
h1, h2, h3, h4 {
    color: #0e172c;
    margin: 0;
}
p {
    margin: 0
}
.bdbtn {
    background-color: #0e172c;
    color: #fffffe;
    margin: 10px 0;
}
.bdbtn:hover {

    color: #fec7d7;
}
.header-area {
    
}
.header-area .navbar {
    background-color: #0e172c;
}
.header-area .navbar-nav .nav-item .nav-link {
    color: #fffffe;
    padding: 10px 25px;
}
.header-area .navbar-brand {
    color: #fffffe;
    font-weight: bold;
}

/* 
 product area css
*/
.single-products {
    background-color: #fffffe;
}
.single-products h3 {
    color: #0e172c;
}
.single-products p {
    color: #0e172c;
}
.single-products h5 {
    color: #a786df;
}
.main-area {}

/* 
 Footer area css
*/
.footer-area {
    background-color: #0e172c;
}
.footer-area p {
    color: #d9d4e7
}
.footer-area a {
    color: #a786df;
}

/* 
 preloader css
*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}
#preloader::before,
#preloader::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    background-color: #0e172c;
    transition: all 0.5s ease;
    z-index: -1;
}
#preloader::before{
    left: 0;
}
#preloader::after {
    right: 0;
}
#preloader.page-loaded::before {
    left: -50%;
}
#preloader.page-loaded::after {
    right: -50%;
}
.page-loaded .spinner-border{
    display: none;
}
