body {
    background-color: #fec7d7;
    color: #0e172c;
    line-height: 1.5;
}
h1, h2, h3, h4 {
    color: #0e172c;
    margin: 0;
}
p {
    margin: 0
}
.bdbtn {
    background-color: #0e172c;
    color: #fffffe;
    margin: 10px 0;
}
.bdbtn:hover {

    color: #fec7d7;
}
.header-area {
    
}
.header-area .navbar {
    background-color: #0e172c;
}
.header-area .navbar-nav .nav-item .nav-link {
    color: #fffffe;
    padding: 10px 25px;
}
.header-area .navbar-brand {
    color: #fffffe;
    font-weight: bold;
}

/* 
 product area css
*/
.single-products {
    background-color: #fffffe;
}
.single-products h3 {
    color: #0e172c;
}
.single-products p {
    color: #0e172c;
}
.single-products h5 {
    color: #a786df;
}
.main-area {}

/* 
 Footer area css
*/
/* 
    Footer area css
*/
.footer-area {
    background-color: #0e172c;
}
.footer-area p {
    color: #d9d4e7
}
.footer-area a {
    color: #a786df;
}